---
import { getEntry } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import { Callout } from "@/components/Callout";
import Link from "@/components/Link";
import Text from "@/components/Text";
import { updateAndSelectPageView } from "@/db/update-page-view";
import {
  displayDateBuilder,
  displayReadingTimeBuilder,
  addBullet,
} from "@/utils/display-text-builder";

const { slug } = Astro.params;

if (!slug) {
  throw new Error("No slug provided");
}

const entry = await getEntry("blog", slug);

if (!entry) return Astro.redirect("/404");

const {
  render,
  data: { title, description, date, draft },
} = entry;

const { Content, remarkPluginFrontmatter } = await render();

const res = await (draft
  ? Promise.resolve({ views: 0 })
  : updateAndSelectPageView(slug));
---

<MainLayout title={title} description={description}>
  <article class="flex-1">
    {
      draft && (
        <Callout
          className="mb-12"
          title="🚧 This is a draft post"
          description="If you have access to see this, awesome! Please don't leak it before it's public 🙏"
        />
      )
    }
    <Text className="text-4xl my-2" level="h1">{title}</Text>
    <p class="text-sm flex items-center gap-x-4 flex-wrap">
      <time class="text-foreground/70">{displayDateBuilder(date).format()}</time
      >
      <span class="text-foreground/70">
        {
          displayReadingTimeBuilder(
            remarkPluginFrontmatter.minutesRead as number,
          )
            .addBullet()
            .format()
        } read</span
      >
      <span class="text-foreground/70">
        {addBullet(res?.views ?? 0)} views</span
      >
    </p>
    <Text className="my-8">{description}</Text>
    <div class="flex-1 mb-12">
      <Content />
    </div>
  </article>
  <div class="flex justify-between items-center">
    <Link href="/blog" className="w-fit">← Back to blog</Link>
  </div>
</MainLayout>
