---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { formatDateToDisplay } from "@/utils/date";
import { estimateReadingTime } from "@/utils/estimated-reading-time";
import MainLayout from "@/layouts/MainLayout.astro";
import { Callout } from "@/components/Callout";
import Link from "@/components/Link";
import Text from "@/components/Text";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post,
  post: {
    data: { title, description, date, draft },
  },
} = Astro.props;
const { Content } = await post.render();
const estRead = estimateReadingTime(post.body);
---

<MainLayout title={title}>
  <article class="flex-1">
    {
      draft && (
        <Callout
          className="mb-12"
          title="🚧 This is a draft post"
          description="If you have access to see this, awesome! Please don't leak it before it's public 🙏"
        />
      )
    }
    <Text className="text-4xl my-2" level="h1">{title}</Text>
    <p class="text-sm">
      <time class="text-foreground/70">{formatDateToDisplay(date)}</time>
      <span class="text-foreground/70"> · {estRead} read</span>
    </p>
    <Text className="my-8">{description}</Text>
    <div class="flex-1 mb-12">
      <Content />
    </div>
  </article>
  <div class="flex justify-between items-center">
    <Link href="/blog" className="w-fit">← Back to blog</Link>
  </div>
</MainLayout>
