---
import { Icons } from "~/components/Icons";
import Text from "~/components/Text";

import MainLayout from "../layouts/MainLayout.astro";
import { getEntryBySlug } from "astro:content";
import PostPreview from "~/components/PostPreview.astro";
import { cn } from "~/utils/cn";
import { button } from "~/styles/classes";

export const prerender = true;

const indexPost = await getEntryBySlug("blog", "index");

const title = "viktor • home";

const content = {
  intro: {
    name: "Viktor Malmedal",
    tagline: "Passionate backend engineer from the north",
  },
  background: {
    main: `I'm specialized in web development, with a strong focus on backend systems. Currently, I'm working as a backend engineer at Anyfin, where I help build systems that improve people's financial well-being across Europe.`,
    experience: `My journey has been diverse, having worked with large corporations like Cygni and Schibsted, agile startups like Coeo, and now contributing to Anyfin's mission of transforming financial services. This varied experience has broadened my knowledge, enabling me to adapt and thrive in any environment.`,
  },
  socialLinks: [
    {
      href: "https://www.linkedin.com/in/viktor-malmedal",
      icon: "linkedIn" as keyof typeof Icons,
      text: "View profile",
    },
    {
      href: "mailto:viktor@malmedal.dev",
      icon: "mail" as keyof typeof Icons,
      text: "Mail me",
    },
  ],
  blog: {
    intro: `I "recently" kicked off my blogging journey, where I'll be sharing my thoughts and insights on various topics as I learn and make progress. It will be a fun challenge to document my personal and professional journey.`,
  },
  personal: {
    activities: `When I'm not coding you'll find me embracing an active lifestyle, climbing, skiing or playing disc golf.`,
  },
  tldr: "I like to create cool stuff",
};
---

<MainLayout title={title}>
  <Text level="h1">
    {content.intro.name}
  </Text>
  <div class="flex flex-col gap-y-8">
    <Text>{content.intro.tagline}</Text>
    <div class="border-b border-b-foreground/20 w-full"></div>
    <Text>
      {content.background.main}
    </Text>
    <div class="w-full gap-4 flex flex-col sm:flex-row justify-center">
      {
        content.socialLinks.map(({ href, icon, text }) => {
          const IconComponent = Icons[icon];
          return (
            <a
              target="_blank"
              rel="noopener noreferrer"
              class={cn(button, "gap-4 inline-flex justify-between font-bold")}
              href={href}
            >
              <div class="flex gap-x-4">
                <IconComponent />
                {text}
              </div>
              <Icons.arrowUpRight className="min-w-8" />
            </a>
          );
        })
      }
    </div>
    <Text>
      {content.blog.intro}
    </Text>
    <PostPreview post={{ ...indexPost.data, slug: "index" }} />
    <Text>
      {content.personal.activities}
    </Text>
    <div class="border-b border-b-foreground/20 w-full"></div>
    <Text className="italic">
      <span class="font-bold not-italic">tl;dr</span>{" "}
      {content.tldr}
    </Text>
  </div>
</MainLayout>
