---
import { formatDateToDisplay } from "@/utils/date";
import type { Blog } from "@/content/config";

export interface Props {
  post: Blog & {
    slug: string;
  };
}

const {
  post: { title, slug, date, description },
} = Astro.props as Props;
---

<article
  class="relative p-4 flex flex-col w-full gap-y-4 cursor-pointer outline transition-all hover:-translate-x-1 hover:outline-foreground outline-foreground/20 rounded-md"
>
  <a class="absolute inset-0 z-10" href={`/blog/${slug}`}>
    <span class="sr-only">{title}</span>
  </a>
  <div class="flex items-center justify-between gap-4">
    <h3 class="font-bold">
      {title}
    </h3>
    <span class="flex-1 border-b border-foreground/20"></span>
    <time>{formatDateToDisplay(date)}</time>
  </div>
  <p>{description}</p>
</article>
