---
import Text from "./Text";
import type { Blog } from "@/content/config";
import { Icons } from "./Icons";
import { cn } from "@/utils/cn";
import { button } from "@/styles/classes";
import { displayDateBuilder } from "@/utils/display-text-builder";

export interface Props {
  post: Blog & {
    slug: string;
  };
  views?: number;
}

const {
  post: { title, slug, date },
  views,
} = Astro.props as Props;
---

<article
  transition:name={`blog-root-${title}`}
  class={cn(button, "relative justify-between gap-x-2 flex items-center")}
>
  <a class="absolute inset-0 z-10" href={`/blog/${slug}`}>
    <span class="sr-only">{title}</span>
  </a>
  <div class="flex flex-col gap-y-2">
    <div class="flex flex-col gap-2">
      <Text
        transition:name={`blog-title-${title}`}
        className="mb-0 text-base"
        level="h3"
      >
        {title}
      </Text>
      <span
        transition:name={`blog-meta-${title}`}
        class="flex flex-wrap items-center gap-x-2 text-foreground/70 text-sm"
      >
        <time>{displayDateBuilder(date).format()}</time>
        {views && <p>· {views} views</p>}
      </span>
    </div>
  </div>
  <Icons.arrowUpRight className="min-h-8 min-w-8" />
</article>
