---
import { formatDateToDisplay } from "@/utils/date";
import type { Blog } from "@/content/config";

export interface Props {
  post: Blog & {
    slug: string;
  };
  views: number;
}

const {
  post: { title, slug, date, description },
  views,
} = Astro.props as Props;
---

<article
  class="group relative p-4 flex flex-col w-full gap-y-4 cursor-pointer transition-all hover:bg-foreground/5 rounded-md"
>
  <a class="absolute inset-0 z-10" href={`/blog/${slug}`}>
    <span class="sr-only">{title}</span>
  </a>
  <div class="flex items-center justify-between gap-4">
    <h3
      class="underline decoration-foreground/50 group-hover:decoration-foreground font-bold transition-all"
    >
      {title}
    </h3>
    <span class="flex-1 border-b border-foreground/20"></span>
    <time>{formatDateToDisplay(date)}</time>
  </div>
  <p class="ml-2">{description}</p>
  <p class="text-sm">{views} views</p>
</article>
