---
import type { Project } from "@/content/config";

import Text from "./Text";

export interface Props {
  project: Project;
}

const {
  project: { description, tech, title, year, github },
} = Astro.props as Props;
---

<article
  class="group relative py-4 flex flex-col w-full gap-y-4 rounded-md hover:bg-foreground/5 transition-all p-4"
>
  <a
    class="absolute inset-0 z-10"
    target="_blank"
    rel="noopener noreferrer"
    href={github?.href}
  >
    <span class="sr-only">{title}</span>
  </a>
  <div class="flex items-center justify-between gap-4">
    <Text
      className="underline decoration-foreground/50 group-hover:decoration-foreground transition-all"
      level="h3"
    >
      {title}
    </Text>
    <an class="flex-1 border-b border-foreground/20"></an>
    <time>{year}</time>
  </div>
  <p>{description}</p>
  <div class="flex flex-wrap items-center gap-2">
    {
      tech.map((t) => (
        <div class="text-xs bg-foreground/5 outline-1 outline-foreground/10 outline p-2 rounded-md">
          <p>{t}</p>
        </div>
      ))
    }
  </div>
</article>
