---
import type { Project } from "@/content/config";

import Text from "./Text";
import { button } from "@/styles/classes";
import { cn } from "@/utils/cn";

export interface Props {
  project: Project;
}

const {
  project: { description, tech, title, year, github },
} = Astro.props as Props;
---

<article class={cn(button, "group relative flex flex-col w-full gap-y-4")}>
  <a
    class="absolute inset-0 z-10"
    target="_blank"
    rel="noopener noreferrer"
    href={github?.href}
  >
    <span class="sr-only">{title}</span>
  </a>
  <div class="flex flex-col md:flex-row gap-2 items-center">
    <Text className="mb-0" level="h2">
      {title}
    </Text>
    <time class="text-foreground/70 text-sm"> · {year}</time>
  </div>
  <p>{description}</p>
  <div class="flex flex-wrap items-center gap-2">
    {
      tech.map((t) => (
        <div class="text-xs bg-foreground/5 outline-1 outline-foreground/10 outline p-2 rounded-md">
          <p>{t}</p>
        </div>
      ))
    }
  </div>
</article>
